.appropos_section{

    margin-bottom:100px;
     line-height: 40px;
     font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     background-color: #405F9F
}

.appropos_header h2{
    color: #FFFFFF !important;
    padding-top: 25px;
}

.appropos_header h4{
    color:#FFFFFF;
    font-size: 16px;
    /* margin-top: 20px; */
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.5;
}

.apropos_content{
    width: 80%;
    margin: auto;
    /* text-align: center; */
    align-items: center;

}

.apropos_content p{
    color :#FFFFFF;
}

.apropos_content a{
  color:  #0769B2 !important;
  background-color: #F9FEFF !important;
  border-radius: 0 !important;
  border-color: #F9FEFF !important;
  margin: 40px 0px 40px 0px;
}
