.appropos_section{

    margin-bottom:100px;
     line-height: 40px;
     font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.appropos_header{

    

}

.appropos_header h4{
    color:#54595F;
    
}

.apropos_content{

}

.apropos_content p{
    color :#54595F;
}