.appropos_section{
      display: flex !important;
      flex-flow: column !important;
      height: 100vh ;
     line-height: 40px;
     font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     background-color: #405F9F
    
}

.appropos_header h2{
    color: #FFFFFF !important;
    margin-top: 64px;
}

.appropos_header h4{
    color:#FFFFFF;
    font-size: 16px;
    /* margin-top: 20px; */
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    opacity: 0.5;

}

.apropos_content{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 64px;
}

.apropos_content p{
    color :#F8F9FE !important;
    font-size: 22px !important;
    font-family: "proxima" serif sans-serif;
}

.apropos_content a{
  color:  #0769B2 !important;
  background-color: #F9FEFF !important;
  border-radius: 0 !important;
  border-color: #F9FEFF !important;
  margin: 40px 0px 40px 0px;
}
