/* nosPrestation Finale */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.mt-30{
    margin-top:30px
}
.mt-0{
    margin-top:0px
}

.NosPres {
  margin: 0px 0px 0px 20px
}

@media (min-width: 768px){
  .NosPres {
    margin: 0px 0px 0px 110px
  }
}


@media only screen and (min-width: 576px) and (max-width: 767px){
    .team-area .single-cat{
        margin-bottom:40px
    }
}
@media (max-width: 575px){
    .team-area .single-cat{
        margin-bottom:30px
    }
}
.team-area .single-cat .cat-icon img{
    margin:0 auto;
    margin-bottom:30px;
    max-height: 70px;
}
.team-area .single-cat .cat-cap span{
    color:#6785FF;
    font-size:46px;
    font-weight:600;
    margin-bottom:10px;
    display:block
}
.team-area .single-cat .cat-cap h5>a{
    font-size:24px;
    font-weight:600;
    margin-bottom:14px;
    display:block;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
    text-transform:capitalize;
    color:#092a49;
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .team-area .single-cat .cat-cap h5>a{
        font-size:21px
    }
}
@media (max-width: 575px){
    .team-area .single-cat .cat-cap h5>a{
        font-size:23px
    }
}
.team-area .single-cat .cat-cap p{
    color:#A5A7C5;
    font-size:17px;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
    margin:0;
    line-height:1.5
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .team-area .single-cat .cat-cap p{
        font-size:15px
    }
}
.team-area .single-cat .cat-cap a{
    color:#1c165c;
    font-size:16px;
    font-weight:600;
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s
}
.team-area .single-cat:hover .cat-cap h5{
    color:#000
}
.team-area .single-cat{
    -webkit-transition:.4s;
    -moz-transition:.4s;
    -o-transition:.4s;
    transition:.4s;
    z-index:1;
    margin-bottom:40px;
    margin-right: 30px
}




.btn{
    font-family:"Poppins",sans-serif;
    text-transform:capitalize;
    padding:27px 44px !important;
    color:#fff;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
    line-height:1;
    -moz-user-select:none;
    letter-spacing:1px;
    line-height:0;
    margin-bottom:0;
    cursor:pointer;
    transition:color 0.4s linear;
    position:relative;
    z-index:1;
    border:0;
    overflow:hidden;
    margin:0;
    border-radius:30px !important;
    display:inline-block !important
}
.btn::after{
    position:unset !important
}
.btn::before{
    content:"";
    position:absolute !important;
    left:0;
    top:0;
    width:101%;
    height:101%;
    z-index:1;
    border-radius:5px;
    transition:transform 0.5s;
    transition-timing-function:ease;
    transform-origin:0 0;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform:scaleX(0);
    border-radius:0px
}
.btn i{
    padding-right:11px
}
.btn:hover{
    color:#fff !important;
    text-decoration:none !important
}
.btn:hover::before{
    transform:scaleX(1);
    color:#fff !important;
    z-index:-1
}
.btn.focus,.btn:focus{
    outline:0;
    box-shadow:none
}
.btn.focus,.btn:focus{
    outline:0;
    box-shadow:none
}

.btn,.border-btn::before,.main-header .main-menu ul ul.submenu,form.search-box .input-form .search-form button,.pricing-card-area .single-card .card-bottom .borders-btn:hover,.pricing-card-area .single-card:hover .card-bottom .borders-btn,.footer-area .footer-form form .form-icon button{
    background:#a077ff;
    background:-webkit-linear-gradient(131deg, #0796fe 0%, #092a49 99%);
    background:-webkit-linear-gradient(131deg, #0796fe 0%, #092a49 99%);
    background:-webkit-linear-gradient(131deg, #0796fe 0%, #092a49 99%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0796fe', endColorstr='#092a49',GradientType=0 )
}
.btn::before{
    background:#a077ff;
    background:-webkit-linear-gradient(131deg, #092a49 20%, #0796fe 99%);
    /* background:-webkit-linear-gradient(131deg, #0796fe 0%, #092a49 99%);
    background:-webkit-linear-gradient(131deg, #0796fe 0%, #092a49 99%); */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a077ff', endColorstr='#ef67ff',GradientType=0 )
}

body{
    font-family:"Open Sans",sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size:16px
}
h1,h2,h3,h4,h5,h6{
    font-family:"Poppins",sans-serif;
    /* color:#4C1E51; */
    color:black;
    margin-top:0px;
    font-style:normal;
    font-weight:500;
    text-transform:normal
}
p{
    font-family:"Open Sans",sans-serif;
    color:#646D77;
    font-size:16px;
    line-height:30px;
    margin-bottom:15px;
    font-weight:normal;
    line-height:1.4
}